IRIS_MODEL_S3_BUCKET=replace-with-private-model-bucket
IRIS_MODEL_S3_KEY=models/iris-classifier/v1/bundle.tar.gz
IRIS_MODEL_S3_VERSION_ID=replace-with-object-version-id
IRIS_MODEL_VERSION=v1
IRIS_ENVIRONMENT=local
GIT_COMMIT_SHA=local
DOCKER_IMAGE_VERSION=local
LOW_CONFIDENCE_THRESHOLD=0.7
